@charset "UTF-8";

body {
    background-color: rgb(255,170,170);
    font-family: sans-serif;
}

h1{
    color: rgb(170,57,57);
}

h1#a {
    text-align: center;
    color:rgb(128, 21, 21);
}

h2{
    color: rgb(255,204,204);
}
.b {
    background-color: rgb(255, 0, 0);
}
.c {
    color: rgb(41, 19, 19);
}
.d {
    background-color:brown ;
}